In [1]:
import pandas as pd

# Import comma-separated variable file
data = pd.read_csv('data/vehicles/vehicles.csv')
data.head()

,CO2 Emission Grams/Mile,City MPG,Combined MPG,Cylinders,Drivetrain,Engine Displacement,Fuel Barrels/Year,Fuel Cost/Year,Fuel Type,Highway MPG,Make,Model,Transmission,Vehicle Class,Year
0,522.764706,18,17,4,2-Wheel Drive,2.5,19.388824,1950,Regular,17,AM General,DJ Po Vehicle 2WD,Automatic 3-spd,Special Purpose Vehicle 2WD,1984
1,683.615385,13,13,6,2-Wheel Drive,4.2,25.354615,2550,Regular,13,AM General,FJ8c Post Office,Automatic 3-spd,Special Purpose Vehicle 2WD,1984
2,555.437500,16,16,4,Rear-Wheel Drive,2.5,20.600625,2100,Regular,17,AM General,Post Office DJ5 2WD,Automatic 3-spd,Special Purpose Vehicle 2WD,1985
3,683.615385,13,13,6,Rear-Wheel Drive,4.2,25.354615,2550,Regular,13,AM General,Post Office DJ8 2WD,Automatic 3-spd,Special Purpose Vehicle 2WD,1985
4,555.437500,14,16,6,Rear-Wheel Drive,3.8,20.600625,2550,Premium,21,ASC Incorporated,GNX,Automatic 4-spd,Midsize Cars,1987

In [2]:
# Import tab-delimited file
data = pd.read_csv('data/vehicles/vehicles_tab.txt', sep='\t')
#data.head()

In [3]:
# Import pipe-delimited file
data = pd.read_csv('data/vehicles/vehicles_pipe.txt', sep='|')
#data.head()

In [4]:
# Import excel file
data = pd.read_excel('data/vehicles/vehicles.xlsx')
#data.head()

In [5]:
# Import JSON file
data = pd.read_json('data/vehicles/vehicles.json', orient='records')

In [6]:
# Export comma-separated variable file
export_file = data.to_csv('data/vehicles/vehicles.csv', index=False)
# Export tab-delimited file
export_file = data.to_csv('data/vehicles/vehicles_tab.txt', sep='\t', index=False)
# Export pipe-delimited file
export_file = data.to_csv('data/vehicles/vehicles_pipe.txt', sep='|', index=False)
# Export excel file
export_file = data.to_excel('data/vehicles/vehicles.xlsx', index=False)
# Export JSON file
export_file = data.to_json('data/vehicles/vehicles.json', orient='records')

In [7]:
import pymysql
from sqlalchemy import create_engine
# Connect to some database
engine = create_engine('mysql+pymysql://username:password@localhost/publications')
# Read data from database
#data = pd.read_sql_query('SELECT * FROM publications.employee', engine)
# Write to database
#data.to_sql('employee2', engine, if_exists='replace', index=False)