In [ ]:
import pandas as pd

# Import comma-separated variable file
data = pd.read_csv('data/vehicles/vehicles.csv')
data.head()

In [ ]:
# Import tab-delimited file
data = pd.read_csv('data/vehicles/vehicles_tab.txt', sep='\t')
#data.head()

In [ ]:
# Import pipe-delimited file
data = pd.read_csv('data/vehicles/vehicles_pipe.txt', sep='|')
#data.head()

In [ ]:
# Import excel file
data = pd.read_excel('data/vehicles/vehicles.xlsx')
#data.head()

In [ ]:
# Import JSON file
data = pd.read_json('data/vehicles/vehicles.json', orient='records')

In [ ]:
# Export comma-separated variable file
export_file = data.to_csv('data/vehicles/vehicles.csv', index=False)
# Export tab-delimited file
export_file = data.to_csv('data/vehicles/vehicles_tab.txt', sep='\t', index=False)
# Export pipe-delimited file
export_file = data.to_csv('data/vehicles/vehicles_pipe.txt', sep='|', index=False)
# Export excel file
export_file = data.to_excel('data/vehicles/vehicles.xlsx', index=False)
# Export JSON file
export_file = data.to_json('data/vehicles/vehicles.json', orient='records')

In [ ]:
import pandas as pd
import pymysql
import getpass
from sqlalchemy import create_engine
# Connect to some database with sqlalchemy
p = getpass.getpass(prompt='Password: ', stream=None) 
engine = create_engine('mysql+pymysql://root:'+p+'@localhost/publications')
# Read data from database
data = pd.read_sql_query('SELECT * FROM publications.employee', engine)
data.head()
# Write to database
# data.to_sql('employee2', engine, if_exists='replace', index=False)

In [ ]:
import pandas as pd
import pymysql.cursors
import getpass
# Connect to some database with cursors
p = getpass.getpass(prompt='Password: ', stream=None) 
connection = pymysql.connect(
    host='localhost',
    user='root',
    password=p,
    db='publications',
    charset='utf8mb4',
    cursorclass=pymysql.cursors.DictCursor)
# Read data from database
data1 = pd.read_sql_query('SELECT * FROM employee', connection)
data1.head()

In [ ]:
q1 = 'SELECT * FROM employee'
cursor = connection.cursor()
cursor.execute(q1)
# Get first record from given table
x = cursor.fetchone()
print(x)

In [ ]:
# Get all record from given table
x = cursor.fetchall()
# print(x)

In [ ]:
# How to convert MySQL table to pandas DataFrame
q2 = '''select sales.stor_id, count(title_id) as Items, count(distinct(sales.`ord_num`)) as NumberofOrders,
SUM(sales.qty) as QuantitySold, stores.stor_name as StoreName
From sales
left join stores
on sales.stor_id = stores.stor_id
group by sales.stor_id
order by SUM(sales.qty)'''

cursor = connection.cursor()
cursor.execute(q2)
x = cursor.fetchall()

data = pd.DataFrame(x)
data.head()

In [ ]:
q3 = '''SELECT StoreName, Items/NumberofOrders AS AvgItems, QuantitySold/Items AS AvgQty
FROM (
select sales.stor_id, count(title_id) as Items, count(distinct(sales.`ord_num`)) as NumberofOrders,
SUM(sales.qty) as QuantitySold, stores.stor_name as StoreName
From sales
left join stores
on sales.stor_id = stores.stor_id
group by sales.stor_id
order by SUM(sales.qty)
)subquery'''

cursor = connection.cursor()
cursor.execute(q3)
x = cursor.fetchall()

data = pd.DataFrame(x)
data.head()

In [ ]:
# How to write to SQL databse with cursor
q4 =  "Insert into jobs(job_id, job_desc, min_lvl, max_lvl)"\
        + "values (%s, %s, %s, %s)"
#cursor.execute(q4, (153, "Data Analyst", 10, 20) )
connection.commit()

q4a = 'SELECT * FROM jobs'
cursor.execute(q4a)
x = cursor.fetchall()
data = pd.DataFrame(x)
data

In [ ]:
# How to write to SQL databse with cursor
q5 = "Update jobs set job_desc = %s where job_id = %s "
cursor.execute(q5, ("Data Analyst/Data Scientist", 150 ) )
connection.commit()

In [ ]:
q4a = 'SELECT * FROM jobs'
cursor.execute(q4a)
x = cursor.fetchall()
data = pd.DataFrame(x)
data