In [ ]:
# Example table
CREATE TABLE publications.store_sales_summary
SELECT stores.stor_id AS StoreID, stores.stor_name AS Store, COUNT(DISTINCT(ord_num)) AS Orders, COUNT(title_id) AS Items, SUM(qty) AS Qty
FROM publications.sales sales
INNER JOIN publications.stores stores ON stores.stor_id = sales.stor_id
GROUP BY StoreID, Store;

SELECT *
FROM publications.store_sales_summary;

In [ ]:
# How to DELETE records (aka rows) that have Qty < 80
DELETE FROM publications.store_sales_summary
WHERE Qty < 80;

SELECT *
FROM publications.store_sales_summary;

In [ ]:
# How to DELETE all records from a table, but still preserve columns as an empty table
DELETE FROM publications.store_sales_summary;

SELECT *
FROM publications.store_sales_summary;

In [ ]:
# How to re-populate table based on the query used to create the table (see Block #1)
INSERT INTO publications.store_sales_summary
SELECT stores.stor_id AS StoreID, stores.stor_name AS Store, COUNT(DISTINCT(ord_num)) AS Orders, COUNT(title_id) AS Items, SUM(qty) AS Qty
FROM publications.sales sales
INNER JOIN publications.stores stores ON stores.stor_id = sales.stor_id
GROUP BY StoreID, Store;

SELECT *
FROM publications.store_sales_summary;

In [ ]:
# How to increment all quantities in Qty by 5
UPDATE publications.store_sales_summary
SET Qty = Qty + 5;

SELECT *
FROM publications.store_sales_summary;

In [ ]:
# How to increment all quantities in Qty by 10, IF given Qty < 100
UPDATE publications.store_sales_summary
SET Qty = Qty + 10
WHERE Qty < 100;

SELECT *
FROM publications.store_sales_summary;