In [1]:
# How to create a new list with elements 1-10

lst = []

for i in range(10):
    lst.append(i)

print(lst)

#[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
# How to create a new list with elements 5-20, with list comprehensions

lst = [i for i in range(20) if i >= 5]
print(lst)

#[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [3]:
# How to iterate over elements of a nested list

lst_lst = [[1,2,3], [4,5,6], [7,8,9]]

lst = []

for x in lst_lst:
    for y in x:
        lst.append(y)

print(lst)

#[1, 2, 3, 4, 5, 6, 7, 8, 9]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
# How to iterate over elements of a nested list, with list comprehensions

lst_lst = [[1,2,3], [4,5,6], [7,8,9]]

lst = [y for x in lst_lst for y in x]
print(lst)

#[1, 2, 3, 4, 5, 6, 7, 8, 9]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
# Print even numbers in nested lists, if list has less than 4 values

lst_lst = [[1,2,3,4,5], [6,7,8], [9,10]]

lst = [y for x in lst_lst if len(x) < 4 for y in x if y % 2 == 0]
print(lst)

#[6, 8, 10]

[6, 8, 10]

In [6]:
import os
import pandas as pd

# Read multiple file names
file_list = [f for f in os.listdir('./data') if f.endswith('.csv')]
#print(file_list)

# Read multiple csv files
data_sets = [pd.read_csv(os.path.join('./data', f), header=None) for f in file_list]
for i in data_sets:
    print(i)

# Concatenate multiple CSV files
data = pd.concat(data_sets, axis=0, sort=False) #axis=0 means data will stack vertically
#print(data)

   0  1  2
0  A  1  X
1  B  2  Y
2  C  3  Z
   0  1   2
0  J  F   K
1  8  9  10
2  1  A   X

In [7]:
import os
import pandas as pd

# Read multiple file names
files = []
for f in os.listdir('./data'):
   if f.endswith('.csv'):
       files.append(f)
#print(files)

# Read and concatenate multiple CSV files
datasets = []
for f in files:
   path  = os.path.join('./data', f)
   datasets.append(pd.read_csv(path,sep="[;,]", header=None, engine='python'))
data = pd.concat(datasets, axis=0)
#print(data)
data.head(6) #first 6 rows

   0  1   2
0  A  1   X
1  B  2   Y
2  C  3   Z
0  J  F   K
1  8  9  10
2  1  A   X

In [16]:
# Print all column names in given csv file, with mean > 15

data = pd.read_csv('./data/vehicles.csv')

selected_columns = [col for col in data._get_numeric_data() if data[col].mean() > 15]
print(selected_columns)

#['Year', 'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG', 'CO2 Emission Grams/Mile', 'Fuel Cost/Year']

['Year', 'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG', 'CO2 Emission Grams/Mile', 'Fuel Cost/Year']

In [17]:
# Print csv file
data.head(10)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
5,Acura,2.2CL/3.0CL,1997,2.2,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,20,26,22,403.954545,1500
6,Acura,2.2CL/3.0CL,1997,2.2,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,22,28,24,370.291667,1400
7,Acura,2.2CL/3.0CL,1997,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,16.480500,18,26,20,444.350000,1650
8,Acura,2.3CL/3.0CL,1998,2.3,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,19,27,22,403.954545,1500
9,Acura,2.3CL/3.0CL,1998,2.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,21,29,24,370.291667,1400

In [22]:
# Find average 'Year' of all cars in the dataset
avg_year = data['Year'].mean()
print(avg_year)

2000.7163996439697

In [29]:
# Print all column headers
for h in data:
    print (h)

Make
Model
Year
Engine Displacement
Cylinders
Transmission
Drivetrain
Vehicle Class
Fuel Type
Fuel Barrels/Year
City MPG
Highway MPG
Combined MPG
CO2 Emission Grams/Mile
Fuel Cost/Year

In [30]:
# Print all column headers
for h in data.columns:
    print (h)
# Same result

Make
Model
Year
Engine Displacement
Cylinders
Transmission
Drivetrain
Vehicle Class
Fuel Type
Fuel Barrels/Year
City MPG
Highway MPG
Combined MPG
CO2 Emission Grams/Mile
Fuel Cost/Year