In [ ]:
# Summarize store sales 
SELECT stores.stor_name AS Store, COUNT(DISTINCT(ord_num)) AS Orders, COUNT(title_id) AS Items, SUM(qty) AS Qty
FROM publications.sales sales
INNER JOIN publications.stores stores ON stores.stor_id = sales.stor_id
GROUP BY Store;

In [ ]:
# Example subquery to show avg quantity per item in each store
SELECT Store, Items/Orders AS AvgItems, Qty/Items AS AvgQty
FROM (
    SELECT stores.stor_name AS Store, COUNT(DISTINCT(ord_num)) AS Orders, COUNT(title_id) AS Items, SUM(qty) AS Qty
    FROM publications.sales sales
    INNER JOIN publications.stores stores ON stores.stor_id = sales.stor_id
    GROUP BY Store
) summary;

In [ ]:
# Display sales by title for the stores that averaged more than one item per order
SELECT Store, ord_num AS OrderNumber, ord_date AS OrderDate, title AS Title, sales.qty AS Qty, price AS Price, type as Type
FROM (
    SELECT stores.stor_id AS StoreID, stores.stor_name AS Store, COUNT(DISTINCT(ord_num)) AS Orders, COUNT(title_id) AS Items, SUM(qty) AS Qty
    FROM publications.sales sales
    INNER JOIN publications.stores stores ON stores.stor_id = sales.stor_id
    GROUP BY StoreID, Store
) summary
INNER JOIN publications.sales sales ON summary.StoreID = sales.stor_id
INNER JOIN publications.titles ON sales.title_id = titles.title_id
WHERE Items / Orders > 1;

In [ ]:
# How to create a Temporary Table
CREATE TEMPORARY TABLE publications.store_sales_summary
SELECT stores.stor_id AS StoreID, stores.stor_name AS Store, COUNT(DISTINCT(ord_num)) AS Orders, COUNT(title_id) AS Items, SUM(qty) AS Qty
FROM publications.sales sales
INNER JOIN publications.stores stores ON stores.stor_id = sales.stor_id
GROUP BY StoreID, Store;

# Display sales by title for the stores that averaged more than one item per order
SELECT Store, ord_num AS OrderNumber, ord_date AS OrderDate, title AS Title, sales.qty AS Qty, price AS Price, type as Type
FROM publications.store_sales_summary summary
INNER JOIN publications.sales sales ON summary.StoreID = sales.stor_id
INNER JOIN publications.titles ON sales.title_id = titles.title_id
WHERE Items / Orders > 1

In [ ]:
# Display royalties for each title by each author
SELECT t.title_id, ta.au_id, title, (t.price * s.qty * t.royalty / 100 * ta.royaltyper / 100) AS "Royalty" FROM titles AS t
INNER JOIN titleauthor AS ta ON t.title_id = ta.title_id
INNER JOIN sales AS s ON t.title_id = s.title_id;

In [ ]:
# Aggregate royalties with a temp table
CREATE TEMPORARY TABLE publications.royalty
SELECT t.title_id, ta.au_id, title, (t.price * s.qty * t.royalty / 100 * ta.royaltyper / 100) AS "Royalty" FROM titles AS t
INNER JOIN titleauthor AS ta ON t.title_id = ta.title_id
INNER JOIN sales AS s ON t.title_id = s.title_id;

SELECT title_id, au_id, SUM(royalty.Royalty) AS "Total Royalty"
FROM royalty
GROUP BY au_id, title_id;

# Same result, using a subquery
SELECT title_id, au_id, SUM(Royalty) AS "TotalRoyalty"
FROM (
    SELECT t.title_id, ta.au_id, title, (t.price * s.qty * t.royalty / 100 * ta.royaltyper / 100) AS "Royalty" FROM titles AS t
    INNER JOIN titleauthor AS ta ON t.title_id = ta.title_id
    INNER JOIN sales AS s ON t.title_id = s.title_id
) totalroyalty
GROUP BY au_id, title_id;

In [ ]:
# Aggregate royalties by AUTHOR using 2 temp tables
CREATE TEMPORARY TABLE publications.royalty
SELECT t.title_id, ta.au_id, title, (t.price * s.qty * t.royalty / 100 * ta.royaltyper / 100) AS "Royalty" FROM titles AS t
INNER JOIN titleauthor AS ta ON t.title_id = ta.title_id
INNER JOIN sales AS s ON t.title_id = s.title_id;

CREATE TEMPORARY TABLE publications.total_royalty
SELECT title_id, au_id, SUM(royalty.Royalty) AS "TotalRoyalty"
FROM publications.royalty
GROUP BY au_id, title_id;

SELECT au_id, SUM(TotalRoyalty) AS "Total Royalty by Author"
FROM publications.total_royalty
GROUP BY au_id;

# Same result, using 2 subqueries
SELECT au_id, SUM(TotalRoyalty) AS "Total Royalty by Author"
FROM (
	SELECT title_id, au_id, SUM(Royalty) AS "TotalRoyalty"
	FROM (
		SELECT t.title_id, ta.au_id, title, (t.price * s.qty * t.royalty / 100 * ta.royaltyper / 100) AS "Royalty" FROM titles AS t
		INNER JOIN titleauthor AS ta ON t.title_id = ta.title_id
		INNER JOIN sales AS s ON t.title_id = s.title_id
	) totalroyalty
	GROUP BY au_id, title_id
) totalRoyaltyByAuthor
GROUP BY au_id;

In [ ]:
# Final Challenge: Insert previous results into new table

#DROP TABLE publications.most_profiting_authors;

CREATE TABLE most_profiting_authors(au_id VARCHAR(16), profit FLOAT);

#DROP TABLE publications.total_royalty_by_author;

CREATE TEMPORARY TABLE publications.total_royalty_by_author
SELECT au_id, SUM(TotalRoyalty) AS "Total Royalty by Author"
FROM publications.total_royalty
GROUP BY au_id;

SELECT * FROM publications.total_royalty_by_author;

INSERT INTO publications.most_profiting_authors
SELECT *
FROM publications.total_royalty_by_author;