In [1]:
# Example function 
def list2string(lst):
    string = ' '.join(lst)
    return string

to_string = ['John', 'was', 'a', 'man', 'of', 'many', 'talents']
list2string(to_string)

'John was a man of many talents'

In [2]:
# Global and Local variables
a = 9

def multiply(number, multiplier=2):
    b = number * multiplier
    return b

c = multiply(a)

print(a, c)

9 18

In [3]:
print(b)

NameError: name 'b' is not defined

In [4]:
multiply(100, multiplier=5)

500

In [6]:
# Applying functions to Data Frames

import pandas as pd

data = pd.read_csv('./data/vehicles.csv')

def get_means(df):
    numeric = df._get_numeric_data()
    means = pd.DataFrame(numeric.mean()).reset_index()
    means.columns = ['Column', 'Mean']
    return means

mean_df = get_means(data)
mean_df

                    Column         Mean
0                     Year  2000.716400
1      Engine Displacement     3.338493
2                Cylinders     5.765076
3        Fuel Barrels/Year    17.609056
4                 City MPG    17.646139
5              Highway MPG    23.880646
6             Combined MPG    19.929322
7  CO2 Emission Grams/Mile   475.316339
8           Fuel Cost/Year  1892.598465